*{
    box-sizing: border-box;
}
.lock-screen{
    width: 300px;
    border: 5px solid midnightblue;
    margin: 50px 50px 10px;
    height: 100px;
}

.lock-numbers{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 50px 50px;
}
.lock-numbers button{
    border: 2px solid midnightblue;
    border-radius: 10px;
    width: 33%;
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
}
.lock-screen.correct{
    background-color: green;
}

.lock-screen.incorrect{
    background-color: red;
}